In [1]:
# Initialisation de Spark
import findspark
import json 
import os 
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("NotebookTest") \
    .master("spark://spark-master:7077") \
    .getOrCreate()



print("✅ Session Spark connectée :", spark.version)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/10/28 11:11:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

✅ Session Spark connectée : 3.5.7

# DataFrame

In [2]:
input_path = "file:///data/sample.fasta"
rdd = spark.sparkContext.textFile(input_path)
print(rdd.take(10))

['>seq1', 'cGTAaccaataaaaaaacaagcttaacctaattc', '>seq2', 'agcttagTTTGGatctggccgggg', '>seq3', 'gcggatttactcCCCCCAAAAANNaggggagagcccagataaatggagtctgtgcgtccaca', 'gaattcgcacca', 'AATAAAACCTCACCCAT', 'agagcccagaatttactcCCC', '>seq4']

In [3]:
a = rdd.count()
a

12

In [4]:
rdd.collect()

['>seq1',
 'cGTAaccaataaaaaaacaagcttaacctaattc',
 '>seq2',
 'agcttagTTTGGatctggccgggg',
 '>seq3',
 'gcggatttactcCCCCCAAAAANNaggggagagcccagataaatggagtctgtgcgtccaca',
 'gaattcgcacca',
 'AATAAAACCTCACCCAT',
 'agagcccagaatttactcCCC',
 '>seq4',
 'gcggatttactcaggggagagcccagGGataaatggagtctgtgcgtccaca',
 'gaattcgcacca']

## nouveau fichier

In [5]:
file1 = "file:///data/emploi_dakar.json"
file2 = "file:///home/spark/notebooks/new_data/emploi_dakar_spark.json"
#df = spark.read.json(file1)
#df = spark.read.option("header", True).json(file1)

In [6]:
!head -n 5 /data/emploi_dakar.json

[
    {
        "poste": "Comptable Polyvalent(e)",
        "entreprise": "We Consulting",
        "region": "\n\t\t\tDakar, Sénégal\t\t",

In [7]:
os.makedirs("/home/spark/notebooks/new_data", exist_ok=True)


with open("/data/emploi_dakar.json", "r") as f:
    data = json.load(f)
    
with open("/home/spark/notebooks/new_data/emploi_dakar_spark.json", "w") as fil:
    for obj in data:
        fil.write(json.dumps(obj, ensure_ascii=False) + "\n")

print("Le fichier est ecrit !")

Le fichier est ecrit !

In [8]:
!head -n 5 /home/spark/notebooks/new_data/emploi_dakar_spark.json

{"poste": "Comptable Polyvalent(e)", "entreprise": "We Consulting", "region": "\n\t\t\tDakar, Sénégal\t\t", "contract_propose": "Freelance", "date_de_publication": "Publié le 8 août 2025"}
{"poste": "Assistante Commerciale", "entreprise": "Vie Durable", "region": "\n\t\t\tDakar, Sénegal\t\t", "contract_propose": "CDD", "date_de_publication": null}
{"poste": "Commercial Expérimenté", "entreprise": "Vie Durable", "region": "\n\t\t\tDakar, Sénegal\t\t", "contract_propose": "CDD", "date_de_publication": null}
{"poste": "Livreur Moto", "entreprise": "Société de la palce", "region": "\n\t\t\tDakar, Sénégal\t\t", "contract_propose": "CDD", "date_de_publication": null}
{"poste": "Vendeuses free-lance", "entreprise": "Seck Business Services", "region": "\n\t\t\tKeur Massar, Dakar\t\t", "contract_propose": "Freelance", "date_de_publication": "Publié le 8 août 2025"}

In [9]:
spark.read.json("/data/emploi_dakar.json")

DataFrame[_corrupt_record: string]

In [10]:
!head -5 /data/emploi_dakar.json

[
    {
        "poste": "Comptable Polyvalent(e)",
        "entreprise": "We Consulting",
        "region": "\n\t\t\tDakar, Sénégal\t\t",

In [11]:
df = spark.read.option("multiline", "true").json("/data/emploi_dakar.json")

In [12]:
# Apres la lecture de nos données, on va les stockés dans cache pour ne pas avoir a les rappeler encore.
df.cache()

DataFrame[contract_propose: string, date_de_publication: string, entreprise: string, poste: string, region: string]

In [13]:
df.show(5)

+----------------+--------------------+--------------------+--------------------+--------------------+
|contract_propose| date_de_publication|          entreprise|               poste|              region|
+----------------+--------------------+--------------------+--------------------+--------------------+
|       Freelance|Publié le 8 août ...|       We Consulting|Comptable Polyval...|\n\t\t\tDakar, Sé...|
|             CDD|                NULL|         Vie Durable|Assistante Commer...|\n\t\t\tDakar, Sé...|
|             CDD|                NULL|         Vie Durable|Commercial Expéri...|\n\t\t\tDakar, Sé...|
|             CDD|                NULL| Société de la palce|        Livreur Moto|\n\t\t\tDakar, Sé...|
|       Freelance|Publié le 8 août ...|Seck Business Ser...|Vendeuses free-lance|\n\t\t\tKeur Mass...|
+----------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [14]:
df.select("poste").count()

286

In [15]:
df.printSchema()

root
 |-- contract_propose: string (nullable = true)
 |-- date_de_publication: string (nullable = true)
 |-- entreprise: string (nullable = true)
 |-- poste: string (nullable = true)
 |-- region: string (nullable = true)

In [16]:
from pyspark.sql.functions import col 

df.groupBy("poste").count().orderBy(col("count").desc()).show(5)

+------------------+-----+
|             poste|count|
+------------------+-----+
|         Comptable|    5|
| Community Manager|    3|
|         Chauffeur|    3|
|Business Developer|    3|
|Agents de sécurité|    2|
+------------------+-----+
only showing top 5 rows

In [17]:
df.groupBy("region").count().orderBy(col("count").desc()).show(5)

+--------------------+-----+
|              region|count|
+--------------------+-----+
|\n\t\t\tDakar, Sé...|  177|
|\n\t\t\tThiès, Sé...|    8|
| \n\t\t\tSénégal\t\t|    7|
|\n\t\t\tDakar, Se...|    6|
|\n\t\t\tAlmadies,...|    5|
+--------------------+-----+
only showing top 5 rows

In [18]:
df.groupBy(df.columns).count().filter("count > 1").show()

+----------------+--------------------+--------------------+--------------------+--------------------+-----+
|contract_propose| date_de_publication|          entreprise|               poste|              region|count|
+----------------+--------------------+--------------------+--------------------+--------------------+-----+
|             CDD|Publié le 8 août ...|International Sta...|           Comptable|\n\t\t\tDakar, Sé...|    2|
|             CDD|Publié le 8 août ...|               ANPEJ|Deux (02) éducatr...|\n\t\t\tDakar, Sé...|    2|
|       Freelance|Publié le 8 août ...|       We Consulting|Comptable Polyval...|\n\t\t\tDakar, Sé...|    2|
|       Freelance|Publié le 8 août ...|Seck Business Ser...|Vendeuses free-lance|\n\t\t\tKeur Mass...|    2|
|             CDD|                NULL|         Vie Durable|Assistante Commer...|\n\t\t\tDakar, Sé...|    2|
|             CDI|Publié le 8 août ...|       ONG EHI Paris|Formation – ONG E...|\n\t\t\tAlmadies,...|    2|
|             CDD|Publié le 8 août ...|La Laiterie du Be...|Country Manager N...|\n\t\t\tNiamey, N...|    2|
|             CDD|Publié le 8 août ...|          Senegindia|Business Developm...|\n\t\t\tDakar, Sé...|    2|
|             CDD|                NULL| Société de la palce|        Livreur Moto|\n\t\t\tDakar, Sé...|    2|
|             CDD|Publié le 8 août ...|           Terrou Bi| Assistant marketing|\n\t\t\tDakar, Sé...|    2|
|             CDD|                NULL|         Vie Durable|Commercial Expéri...|\n\t\t\tDakar, Sé...|    2|
|             CDD|                NULL|        World Vision|Regional Humanita...|\n\t\t\tDakar, Se...|    2|
|             CDD|Publié le 8 août ...|                IUCN|Regional Programm...|\n\t\t\tDakar, Se...|    2|
|             CDI|Publié le 8 août ...|   Call Center Group|     Téléconseillers|\n\t\t\tDakar, Sé...|    2|
|             CDD|                NULL|Marriott Internat...|           Chauffeur|\n\t\t\tDakar, Sé...|    2|
|             CDD|Publié le 8 août ...|International Sta...|Responsable pédag...|\n\t\t\tDakar, Sé...|    2|
|             CDD|Publié le 8 août ...|            Wartsila|    Shift Supervisor|\n\t\t\tBoto, Sén...|    2|
+----------------+--------------------+--------------------+--------------------+--------------------+-----+

In [62]:
from pyspark.sql import functions as F 

df_clean = df.withColumn(
      "region_clean",
      F.trim(
          F.regexp_replace(F.col("region"), r"[\n\t\t\t]" , ""))
)

df_clean = df_clean.drop('region')

df_clean.show(5)

+----------------+--------------------+--------------------+--------------------+------------------+
|contract_propose| date_de_publication|          entreprise|               poste|      region_clean|
+----------------+--------------------+--------------------+--------------------+------------------+
|       Freelance|Publié le 8 août ...|       We Consulting|Comptable Polyval...|    Dakar, Sénégal|
|             CDD|                NULL|         Vie Durable|Assistante Commer...|    Dakar, Sénegal|
|             CDD|                NULL|         Vie Durable|Commercial Expéri...|    Dakar, Sénegal|
|             CDD|                NULL| Société de la palce|        Livreur Moto|    Dakar, Sénégal|
|       Freelance|Publié le 8 août ...|Seck Business Ser...|Vendeuses free-lance|Keur Massar, Dakar|
+----------------+--------------------+--------------------+--------------------+------------------+
only showing top 5 rows

In [63]:
df_clean.describe()

DataFrame[summary: string, contract_propose: string, date_de_publication: string, entreprise: string, poste: string, region_clean: string]

In [56]:
df_clean.groupBy('date_de_publication').count().show()

+--------------------+-----+
| date_de_publication|count|
+--------------------+-----+
|Publié le 27 juil...|    2|
|Publié le 15 juil...|    1|
|Publié le 10 juil...|    1|
|                NULL|   33|
|Publié le 28 juil...|   18|
|Publié le 14 juil...|    1|
|Publié le 4 juill...|    2|
|Publié le 7 août ...|   13|
|Publié le 1 août ...|   15|
|Publié le 24 juil...|   15|
|Publié le 6 août ...|   21|
|Publié le 23 juil...|    8|
|Publié le 31 juil...|   18|
|Publié le 30 juil...|   19|
|Publié le 4 août ...|   23|
|Publié le 25 juil...|   24|
|Publié le 8 août ...|   28|
|Publié le 11 juil...|    2|
|Publié le 5 août ...|   24|
|Publié le 29 juil...|   18|
+--------------------+-----+

In [66]:
df_clean.filter('date_de_publication is null').show(5)

+----------------+-------------------+--------------------+--------------------+--------------+
|contract_propose|date_de_publication|          entreprise|               poste|  region_clean|
+----------------+-------------------+--------------------+--------------------+--------------+
|             CDD|               NULL|         Vie Durable|Assistante Commer...|Dakar, Sénegal|
|             CDD|               NULL|         Vie Durable|Commercial Expéri...|Dakar, Sénegal|
|             CDD|               NULL| Société de la palce|        Livreur Moto|Dakar, Sénégal|
|             CDD|               NULL|Marriott Internat...|           Chauffeur|Dakar, Sénégal|
|             CDD|               NULL|        World Vision|Regional Humanita...|Dakar, Senegal|
+----------------+-------------------+--------------------+--------------------+--------------+
only showing top 5 rows

# Spark avec SQL_queries

In [19]:
# A partir de notre dataFrame, on cree une view pour exxecuter du code Spark_sql
df.createOrReplaceGlobalTempView("tab_df")

In [20]:
# verification des tables créées 
spark.catalog.listTables("global_temp")

[Table(name='tab_df', catalog=None, namespace=['global_temp'], description=None, tableType='TEMPORARY', isTemporary=True)]

In [69]:
spark.sql(""" SELECT * FROM global_temp.tab_df""").show(5)

+----------------+--------------------+--------------------+--------------------+--------------------+
|contract_propose| date_de_publication|          entreprise|               poste|              region|
+----------------+--------------------+--------------------+--------------------+--------------------+
|       Freelance|Publié le 8 août ...|       We Consulting|Comptable Polyval...|\n\t\t\tDakar, Sé...|
|             CDD|                NULL|         Vie Durable|Assistante Commer...|\n\t\t\tDakar, Sé...|
|             CDD|                NULL|         Vie Durable|Commercial Expéri...|\n\t\t\tDakar, Sé...|
|             CDD|                NULL| Société de la palce|        Livreur Moto|\n\t\t\tDakar, Sé...|
|       Freelance|Publié le 8 août ...|Seck Business Ser...|Vendeuses free-lance|\n\t\t\tKeur Mass...|
+----------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [22]:
spark.sql(""" SELECT * FROM global_temp.tab_df WHERE date_de_publication is Null """).show(5)

+----------------+-------------------+--------------------+--------------------+--------------------+
|contract_propose|date_de_publication|          entreprise|               poste|              region|
+----------------+-------------------+--------------------+--------------------+--------------------+
|             CDD|               NULL|         Vie Durable|Assistante Commer...|\n\t\t\tDakar, Sé...|
|             CDD|               NULL|         Vie Durable|Commercial Expéri...|\n\t\t\tDakar, Sé...|
|             CDD|               NULL| Société de la palce|        Livreur Moto|\n\t\t\tDakar, Sé...|
|             CDD|               NULL|Marriott Internat...|           Chauffeur|\n\t\t\tDakar, Sé...|
|             CDD|               NULL|        World Vision|Regional Humanita...|\n\t\t\tDakar, Se...|
+----------------+-------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [23]:
spark.sql("""
    SELECT COUNT(*) AS nb_nulls
    FROM global_temp.tab_df
    WHERE date_de_publication IS NULL
""").show()

+--------+
|nb_nulls|
+--------+
|      33|
+--------+

In [24]:
cols = ", ".join(df.columns)
cols

'contract_propose, date_de_publication, entreprise, poste, region'

In [68]:
cols = ", ".join(df.columns)

spark.sql(f"""
     SELECT {cols}, count(*) AS nombre_de_duplication FROM global_temp.tab_df
     GROUP BY {cols}
     HAVING nombre_de_duplication > 1 
    """).show(5)

+----------------+--------------------+--------------------+--------------------+--------------------+---------------------+
|contract_propose| date_de_publication|          entreprise|               poste|              region|nombre_de_duplication|
+----------------+--------------------+--------------------+--------------------+--------------------+---------------------+
|             CDD|Publié le 8 août ...|International Sta...|           Comptable|\n\t\t\tDakar, Sé...|                    2|
|             CDD|Publié le 8 août ...|               ANPEJ|Deux (02) éducatr...|\n\t\t\tDakar, Sé...|                    2|
|       Freelance|Publié le 8 août ...|       We Consulting|Comptable Polyval...|\n\t\t\tDakar, Sé...|                    2|
|       Freelance|Publié le 8 août ...|Seck Business Ser...|Vendeuses free-lance|\n\t\t\tKeur Mass...|                    2|
|             CDD|                NULL|         Vie Durable|Assistante Commer...|\n\t\t\tDakar, Sé...|                    2|
+----------------+--------------------+--------------------+--------------------+--------------------+---------------------+
only showing top 5 rows

In [67]:
spark.sql("""
      SELECT * FROM global_temp.tab_df 
      WHERE date_de_publication is Null
      """).show(5)

+----------------+-------------------+--------------------+--------------------+--------------------+
|contract_propose|date_de_publication|          entreprise|               poste|              region|
+----------------+-------------------+--------------------+--------------------+--------------------+
|             CDD|               NULL|         Vie Durable|Assistante Commer...|\n\t\t\tDakar, Sé...|
|             CDD|               NULL|         Vie Durable|Commercial Expéri...|\n\t\t\tDakar, Sé...|
|             CDD|               NULL| Société de la palce|        Livreur Moto|\n\t\t\tDakar, Sé...|
|             CDD|               NULL|Marriott Internat...|           Chauffeur|\n\t\t\tDakar, Sé...|
|             CDD|               NULL|        World Vision|Regional Humanita...|\n\t\t\tDakar, Se...|
+----------------+-------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

#### Donnees propres avec sql

In [70]:
df_clean.createOrReplaceGlobalTempView('dfClean')

In [71]:
spark.catalog.listTables("global_temp")

[Table(name='dfClean', catalog=None, namespace=['global_temp'], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='tab_df', catalog=None, namespace=['global_temp'], description=None, tableType='TEMPORARY', isTemporary=True)]

In [72]:
spark.sql("""
      SELECT * FROM global_temp.dfClean
      """).show(5)

+----------------+--------------------+--------------------+--------------------+------------------+
|contract_propose| date_de_publication|          entreprise|               poste|      region_clean|
+----------------+--------------------+--------------------+--------------------+------------------+
|       Freelance|Publié le 8 août ...|       We Consulting|Comptable Polyval...|    Dakar, Sénégal|
|             CDD|                NULL|         Vie Durable|Assistante Commer...|    Dakar, Sénegal|
|             CDD|                NULL|         Vie Durable|Commercial Expéri...|    Dakar, Sénegal|
|             CDD|                NULL| Société de la palce|        Livreur Moto|    Dakar, Sénégal|
|       Freelance|Publié le 8 août ...|Seck Business Ser...|Vendeuses free-lance|Keur Massar, Dakar|
+----------------+--------------------+--------------------+--------------------+------------------+
only showing top 5 rows

# Traitement avec `pandas` [Spark_dataFrame to pandas]`

In [73]:
df_pd = df_clean.toPandas()

In [75]:
df_pd

,contract_propose,date_de_publication,entreprise,poste,region_clean
0,Freelance,Publié le 8 août 2025,We Consulting,Comptable Polyvalent(e),"Dakar, Sénégal"
1,CDD,None,Vie Durable,Assistante Commerciale,"Dakar, Sénegal"
2,CDD,None,Vie Durable,Commercial Expérimenté,"Dakar, Sénegal"
3,CDD,None,Société de la palce,Livreur Moto,"Dakar, Sénégal"
4,Freelance,Publié le 8 août 2025,Seck Business Services,Vendeuses free-lance,"Keur Massar, Dakar"
...,...,...,...,...,...
281,CDI,Publié le 11 juillet 2025,Barzmin,Responsable supply chain,"Thiès, Sénégal"
282,Stage,Publié le 11 juillet 2025,Desk,Stagiare Achat et Gestion de Stock,"Amitié, Dakar"
283,CDD,Publié le 10 juillet 2025,Carlcare Technology,Superviseurs commerciaux,"Dakar, Touba, Tambacounda"
284,CDD,Publié le 4 juillet 2025,AMD CORPORATE,Vendeur en Boutique H/F,"Dakar, Thiès"
285,Freelance,Publié le 4 juillet 2025,Smart Konnect,Télévendeur(se) à distance – B2C,Sénégal (Télétravail)

In [76]:
df_pd['contract_propose'].unique()

array(['Freelance', 'CDD', 'CDI', 'Stage', 'Prestation de Services'],
      dtype=object)

In [77]:
df_pd['entreprise'].unique()

array(['We Consulting', 'Vie Durable', 'Société de la palce',
       'Seck Business Services', 'Call Center Group', 'IUCN',
       'Marriott International', 'Wartsila',
       'International Staffing Company', 'World Vision',
       'La Laiterie du Berger', 'ANPEJ', 'Senegindia', 'Terrou Bi',
       'ONG EHI Paris', 'Kalia', 'SOKOLATA, Exquisite Afromantic Basics',
       'Une entreprise de la place', 'Baobab Groupe',
       'HOLLY TRANS LIMITED', 'UNICEF', 'Nestlé', 'British Council',
       'UN Women', 'EBRD', 'Fuzu', 'POSCO International Corporation',
       'Club Tiossane', "Espace ADUNA'M", 'BLS International', 'Afri RH',
       'ISIS', 'Eramet', 'Une Cabinet d assurance', 'UNESCO', 'Topwork',
       'Wave Mobile Money', 'World Bank', 'Trees for the future',
       'Maersk', 'World Vision International', 'Africa Global Logistics',
       'SHY Performance Sénégal', 'Recrutement Dakar', 'MAGVOYAGE',
       'Top Management 24', 'MOOVINAFRICA', 'BESS Afrique', 'Nixacom AI',
       'Gouvernement du Sénégal', 'Wave', 'New project', 'PAM',
       'Délégation de l’Union européenne en République du Sénégal',
       'Galimatech', 'ANSD', 'GBG', "B'Zen", 'ENERGIA',
       'Une Entreprise de la Place', 'Nomadaw SARL', 'WFP',
       'Entreprise du secteur industriel', 'GPF-SN',
       'Sénégal Services S.A.', 'Carlcare Technology', 'ESMT', 'MSH',
       'Société industrielle', 'Grazeina Technologies',
       'GRAZEINA TECHNOLOGIES', 'Preinov Afrique', "Olam'Society",
       'Hoking Commerce', 'GIZ', 'Bibliothèque Sans Frontières',
       'Sightsavers', 'MAG International', 'Agence hybride',
       'Save the children', 'IOM', 'ACF International',
       'ARC Informatique', 'Oxfam America', 'UVS', 'Sodiluxe', 'OFOR',
       'Batimat', 'NoorTech Energy', 'Marie Stopes', 'Riana Group',
       'Simplitechsn', 'Goethe Institute', 'Winrock', 'GRAZEINA GROUP',
       'Société de la place', 'Afric Management', 'Axess Sécurité', 'Yas',
       'Stellarix', 'Groupe Baobab', 'IFAD', 'HOKING COMMERCE', 'MSF',
       'Helen Keller', 'Mouabi Group', 'Phoenix Consulting Group SN',
       'Réseau Gazier du Sénégal', 'UCAD', 'Shy Performance Sénégal',
       'Gret', 'Centre Ecologique Albert Schweitzer', 'Webtel',
       'Attitude RH', 'ATTITUDE RH', 'Nutanix', 'ETS', 'TheraCosmé',
       'Flow Consulting Holding', 'Mouslam',
       'D.I.S - Dakar Intérim Sécurité', 'Sénégal Services',
       'SERVTEC Sénégal', 'Granita Ice Cream', 'Baobab Clean',
       'Entreprise Industrielle de Confection', 'Zen & Glam',
       'PLAY International', 'Katos Consulting', 'Elite RH',
       'Institut Français', 'RMO Sénégal', 'Handicap International',
       'NETSYSTEME INFORMATIQUE', 'Fujian Symbol Quadrant Technology Co',
       'Cabinet RH', 'Africa Electronics Services', 'PPI', 'Esprit',
       'CEAS', 'Chemtra Group', 'Concentrix', 'Michael Page',
       'ABG Consulting', 'Afrivac', 'SWALA AGENCY',
       'Dynava Senegal SUARL', 'Agence de la place',
       'Sunda International', 'Barzmin', 'Desk', 'AMD CORPORATE',
       'Smart Konnect'], dtype=object)

In [78]:
df_pd[df_pd['entreprise'] =='Michael Page']

,contract_propose,date_de_publication,entreprise,poste,region_clean
262,CDD,None,Michael Page,Directeur financier,"Dakar, Sénégal"

In [80]:
df_pd['region_clean'].unique()

array(['Dakar, Sénégal', 'Dakar, Sénegal', 'Keur Massar, Dakar',
       'Dakar, Senegal', 'Boto, Sénégal', 'Niamey, Niger',
       'Almadies, Dakar, Sénégal', 'Rufisque, Dakar, Sénégal',
       'Cité Mbackiyou Faye, Ouakam, Dakar, Sénégal',
       'Dakar avec une mobilité nationale et internationale',
       'Médina, Rue Malick SY', 'Senegal', 'Sénégal',
       'Thiaroye, 14 Km route de Rufisque', 'Médina Ndiathbé',
       'Point E, Dakar, Sénégal', 'Point E, Dakar', 'Sindia, Sénégal',
       'Mermoz, Dakar', 'Route de l’aéroport, Dakar, Sénégal',
       "Fenêtre Mermoz, sur la route de la corniche ouest après le rond point Macky Sall avant l'école actuelle bilingue",
       'Thionk Essyl, Sénégal', 'LIberté 6 Extension VDN, Dakar, Sénégal',
       'Point E', 'Keur Massar; Dakar; Sénégal',
       'Rond Point Malibou Plage, Dakar, Sénégal',
       'Maristes, Dakar, Sénégal', 'Kaolack, Sénégal', 'Kolda, Sénégal',
       'Ziguinchor, Sénégal', 'Dakar , Touba', 'Louga, Sénégal',
       'Kaffrine, Sédhiou', 'LIberté 6 Extension VDN', 'Mbour, Thiès',
       'LIBERTE 6, en face UNO', 'Touba, Sénégal', 'Dakar', 'Rufisque',
       'Mermoz , Ancienne piste', 'Thiès, Sénégal',
       'Keur Gorgui, Dakar, Sénégal', 'Cité Keur Gorgui, Dakar',
       '21, Rue Mohamed 5, Dakar, Sénégal',
       '4320 bis allées Seydou Nourou Tall, Dakar Point E',
       'Diogo, Thiès, Sénégal', 'Corniche, Dakar, Sénégal',
       'Ouakam, Dakar, Sénégal', 'Keur Massar, Dakar, Sénégal',
       'Derklé, Dakar',
       "Ouest foire sur la route de l'aeroport Leopold Sedar Senghor immeuble Seigneurie",
       'LIBERTE 6, en face UNO, Dakar, Sénégal',
       "Cité de L'émergence, Colobane, Dakar, Sénégal",
       'Liberté 6, Dakar, Sénégal', 'Mermoz, Dakar, Sénégal',
       'Saly Portudal, Mbour, Sénégal',
       'Rue B x 16, Point E, imm Mame Coumba DIOP',
       'Yoff, Dakar, Sénégal', 'Cices Foire, Dakar, Sénégal',
       'Sindia, Thiès', 'Sandiara, Richard Toll', 'Amitié, Dakar',
       'Dakar, Touba, Tambacounda', 'Dakar, Thiès',
       'Sénégal (Télétravail)'], dtype=object)

In [81]:
clean_data = df_pd.drop_duplicates()
clean_data

,contract_propose,date_de_publication,entreprise,poste,region_clean
0,Freelance,Publié le 8 août 2025,We Consulting,Comptable Polyvalent(e),"Dakar, Sénégal"
1,CDD,None,Vie Durable,Assistante Commerciale,"Dakar, Sénegal"
2,CDD,None,Vie Durable,Commercial Expérimenté,"Dakar, Sénegal"
3,CDD,None,Société de la palce,Livreur Moto,"Dakar, Sénégal"
4,Freelance,Publié le 8 août 2025,Seck Business Services,Vendeuses free-lance,"Keur Massar, Dakar"
...,...,...,...,...,...
281,CDI,Publié le 11 juillet 2025,Barzmin,Responsable supply chain,"Thiès, Sénégal"
282,Stage,Publié le 11 juillet 2025,Desk,Stagiare Achat et Gestion de Stock,"Amitié, Dakar"
283,CDD,Publié le 10 juillet 2025,Carlcare Technology,Superviseurs commerciaux,"Dakar, Touba, Tambacounda"
284,CDD,Publié le 4 juillet 2025,AMD CORPORATE,Vendeur en Boutique H/F,"Dakar, Thiès"
285,Freelance,Publié le 4 juillet 2025,Smart Konnect,Télévendeur(se) à distance – B2C,Sénégal (Télétravail)